@media (max-width: 1500px) {
  .hero-right img {
    max-width: 100%;
  }
  .rectangle-shape {
    width: 350px;
    height: 350px;
  }
  .container {
    max-width: 1200px;
    padding: 0px 15px;
  }
}
@media (max-width: 1200px) {
  .hero-content {
    flex-direction: column;
    gap: 0;
  }
  .hero-right img {
    padding-top: 30px;
  }
  .hero-left {
    align-self: flex-start;
  }
  .hero-left h1 {
    font-size: 60px;
  }
  .hero-right,
  .hero-left {
    width: 80%;
  }
  .rectangle-shape {
    width: 300px;
    height: 300px;
  }
  .category-row {
    flex-wrap: wrap;
  }
  .about-row {
    gap: 24px;
  }
  .about-row .about-left {
    width: calc(50% - 12px);
  }
  .about-row .about-right {
    width: calc(50% - 12px);
  }
  .menu-card {
    width: calc(33% - 60px);
  }
  }
@media (max-width: 900px) {
    .hero-right,
    .hero-left {
      width: 100%;
    }
    .hero-content {
      gap: 0;
    }
    .category-item {
      width: calc(33% - 62px);
    }
    .about-row {
      flex-wrap: wrap;
    }
    .about-row .about-left {
      width: 100%;
    }
    .about-row .about-right {
      width: 100%;
    }
    .wcs-row {
      flex-wrap: wrap;
    }
    .wcs-left {
      width: 100%;
    }
    .wcs-right {
      width: 100%;
    }
    .menu-card {
      width: calc(50% - 60px);
    }
    .team-row {
      flex-wrap: wrap;
    }
    .team-single {
      width: calc(33% - 18px);
    }
    .footer-shape-1, .footer-shape-2 {
      display: none;
    }
  }
@media (max-width: 850px) {
    .header-row .nav-menu {
      display: none;
    }
    .header-right {
      gap: 10px;
    }
    .mobile-menu-btn {
      display: inline-block;
    }
    .hero-content {
      gap: 0;
    }
    .hero-right,
    .hero-left {
      width: 100%;
    }
    .hero-left h1 {
      font-size: 52px;
    }
    .offered-row {
      flex-wrap: wrap;
      justify-content: center;
    }
    .offered-row .offered-details {
      width: 100%;
    }
    .offered-row .offered-image {
      width: 100%;
    }
    .offered-row .offered-image img {
      width: 100%;
    }
    .blog-top-row {
      justify-content: center;
    }
    .blog-section-title {
      width: 100%;
      text-align: center;
    }
    .blog-bottom-row {
      flex-wrap: wrap;
      justify-content: center;

    }
    .single-blog {
      margin-bottom: 50px;
      /* width: 100%; */
    }
    .blog-btn-top .template-btn {
      display: none;
    }
    .blog-btn-bottom .template-btn {
      display: inline-flex;
    }
    .footer-menu {
      gap: 15px;
    }
    .blog-section {
  padding-bottom: 50px;
}
  }
  @media (max-width: 768px) {
    .team-row {
      flex-wrap: wrap;
      gap: 20px;
    }
    .team-single {
      width: calc(50% - 15px);
    }
  }
@media (max-width: 630px) {
    .category-item {
      width: calc(50% - 60px);
    }
    .wcs-horizontle-box {
      gap: 16px;
    }
    .menu-card {
      max-width: 300px;
      width: 100%;
    }
    .team-row {
      flex-wrap: wrap;
    }
    .team-single {
      width: calc(50% - 15px);
    }
    
  }
@media (max-width: 470px) {
    .header-right .template-btn {
      display: none;
    }
    .hero-left h1 {
      font-size: 42px;
    }
    .rectangle-shape {
      left: 0;
    }
    .category-item {
      width: 100%;
    }
    .team-row {
      flex-wrap: wrap;
    }
    .team-single {
      max-width: 300px;
      width: 100%;
    }
    .single-blog {
      margin-top: 30px;
    }
    .single-blog .meta-text h5 {
      font-size: 16px;
    }
    .single-blog .meta-text .icon-wrapper {
      margin-bottom: 10px;
    }
    .single-blog .meta-text {
      bottom: -100px;
    }
    .blog-btn-bottom .template-btn {
  margin-top: 20px;
}

  }

